#big-title{display:block ;margin-left: auto; margin-right: auto;}
form{text-align: center; color: darkred; border: darkred; border: 5px solid ;margin: 2%; color:darkred; scale: 70%; font-size: 30px; font-family: 'Courier New', Courier, monospace; font-weight: bold;}
.cds{display:block ;margin-left: auto; margin-right: auto; size: 100px; }
.cds_text{ width:fit-content; margin: auto; text-align:center; font-family: 'Courier New', Courier, monospace; font-weight: bold;}
.box{width:20%; margin-left: 2.5%; margin-right: 2.5%; color: darkred; border: darkred 5px solid; display: inline-table;}
.endeth{text-align: center; color: darkred; border: darkred; border: 5px solid ;margin: 2%; color:darkred; scale: 50%;}
#sidebarright{float: right; block-size: 150px; height: 1500px; width: 200px;}
#sidebarleft{float: left; block-size: 150px; height: 1500px; width: 200px;}